.card-container{
    width: 50%;
    margin: auto;
}

.card-container-panel{
    width: 90%;
    margin: auto;
}

.card-content-panel{
    width: 100%;
    background: rgba(90, 55, 180, 0.5);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
}