<div class="barra">

    <div class="barra-a">
        Atenea
    </div>
    <div class="barra-n">
        Noctua
    </div>
</div>

<div class="container">
    <div class="d-flex">
        <app-register-form></app-register-form>

        <div class="container-img">
            <div>
                <img class="img" [src]="atenea" alt="Login" />
            </div>
            <div class="center-button">

                <button mat-button mat-raised-button color="primary" class="boton" routerLink="/">Inicia
                    Sesión</button>
            </div>

        </div>



    </div>
</div>