<div class="barra">

    <div class="barra-a">
        Atenea
    </div>
    <div class="barra-n">
        Noctua
    </div>
</div>

<div class="container">
    <div class="d-flex">

        <div>
            <div class="container-img">
                <img class="img" [src]="atenea" alt="Login" />
                <div class="text">
                    El espacio perfecto para crecer
                </div>
            </div>
            <div class="center-button">

                <button mat-button mat-raised-button color="primary" class="boton" routerLink="/login">Inicia
                    Sesión</button>

                <button mat-button mat-raised-button color="primary" class="boton"
                    routerLink="/register">Registrate</button>
            </div>

        </div>



    </div>
</div>